* {
  margin: 0;
  padding: 0;
}
.stars,
.stars2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(../img/space.svg) repeat top center;
}
.stars2 {
  background: transparent url(../img/space1.png) repeat top center;
  animation: star2 20s linear infinite;
}

@keyframes star2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 1500px;
  }
}

.earth {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 300px 50px 0;
  background: url(../img/earth.svg) no-repeat 0 0;
}

.fuel_launching1,
.fuel_landing1,
.fuel_landing2,
.rocket1,
.rocket2,
.rocket3 {
  position: absolute;
}

.rocket1 {
  background: url(../img/rocket-ship.svg) no-repeat 0 0;
  transform: rotate(30deg);
  z-index: 2;
  width: 80px;
  height: 200px;
  left: 160px;
  top: -95px;
  animation-name: fly;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  text-align: center;
}

@keyframes fly {
  from {
    left: 160px;
    transform: rotate(35deg);
  }
  to {
    left: 500px;
    top: -500px;
    transform: rotate(60deg);
  }
}

.fuel_launching1 {
  opacity: 0;
  bottom: -55px;
  width: 80px;
  height: 140px;
  background: url(../img/bigfire.svg) no-repeat 0 0;
  animation-name: fire_launching1;
  animation-delay: 1s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes fire_launching1 {
  from {
    opacity: 0;
    height: 145px;
    width: 82px;
  }
  to {
    opacity: 1;
    height: 140px;
    width: 80px;
  }
}

.small_fire {
  text-align: center;
  position: fixed;
  z-index: 1000;
  bottom: -5px;
  width: 30px;
  height: 80px;
  left: 25px;
  background: url(../img/smallfire.svg) no-repeat 0 0;
  animation-name: small_fire;
  animation-delay: 1.4s;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
@keyframes small_fire {
  from {
    opacity: 0;
    height: 80px;
    width: 30px;
  }
  to {
    opacity: 1;
    height: 82px;
    width: 32px;
  }
}

.rocket2 {
  background: url(../img/rocket-ship.svg) no-repeat 0 0;
  transform: rotate(180deg);
  top: -200px;
  width: 80px;
  height: 200px;
  animation-name: flyback;
  animation-delay: 5s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes flyback {
  0% {
    transform: rotate(180deg);
    left: 700px;
  }
  50% {
    left: 700x;
  }

  75% {
    left: 700px;
  }

  100% {
    left: 700px;
    top: 300px;
  }
}

.rocket3 {
  opacity: 0;
  background: url(../img/rocket-ship.svg) no-repeat 0 0;
  transform: rotate(180deg);
  left: 700px;
  top: 300px;
  width: 80px;
  height: 200px;
  animation-name: arriving;
  animation-delay: 9s;
  animation-duration: 5.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes arriving {
  0% {
    transform: rotate(180deg);
    opacity: 1;
    left: 700px;
  }
  25% {
    transform: rotate(180deg);
    opacity: 1;
    left: 700px;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
    left: 700px;
  }
  100% {
    left: 715px;
    top: 515px;
    transform: rotate(305deg);
    opacity: 1;
  }
}

.fuel_landing1 {
  width: 80px;
  height: 140px;
  bottom: -55px;
  background: url(../img/bigfire.svg) no-repeat 0 0;
  animation-name: fire_landing1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes fire_landing1 {
  from {
    opacity: 1;
    height: 145px;
    width: 82px;
  }
  to {
    opacity: 0;
    height: 140px;
    width: 80px;
  }
}

.fuel_landing2 {
  opacity: 1;
  width: 80px;
  height: 140px;
  bottom: -55px;
  background: url(../img/bigfire.svg) no-repeat 0 0;
  animation-name: fire_landing2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes fire_landing2 {
  from {
    opacity: 1;
    height: 145px;
    width: 82px;
  }
  to {
    opacity: 0;
    height: 140px;
    width: 80px;
  }
}

.flag {
  margin-left: 770px;
  margin-top: -235px;
  opacity: 0;
  background: url(../img/flag.svg) no-repeat 0 0;
  height: 150px;
  width: 70px;
  animation-name: placing_flag;
  animation-delay: 15s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes placing_flag {
  to {
    opacity: 1;
  }
}

.moon {
  width: 170px;
  height: 170px;
  margin-left: 745px;
  margin-top: 30px;
  background: url(../img/moon.svg) no-repeat 0 0;
  position: relative;
}
