*,
*:before,
*:after {
  box-sizing: border-box;
}

.cosmic {
  background-color: black;
  background: url(space.svg);
  background-size: 100%;
  animation-name: star;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes star {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1000px;
  }
}

.earth {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 300px 50px 0;
  background: url(earth.svg) no-repeat 0 0;
}

.fuel_launching1,
.fuel_landing1,
.fuel_landing2,
.rocket1,
.rocket2,
.rocket3 {
  position: absolute;
}

.rocket1 {
  background: url(rocket-ship.svg) no-repeat 0 0;
  transform: rotate(30deg);
  z-index: 2;
  width: 80px;
  height: 200px;
  left: 160px;
  top: -95px;
  animation-name: fly;
  animation-delay: 2s;
  animation-duration: 6.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  text-align: center;
}

@keyframes fly {
  5% {
    left: 165px;
    transform: rotate(35deg);
  }
  25% {
    left: 195px;
    transform: rotate(35deg);
  }
  50% {
    left: 225x;
    transform: rotate(40deg);
  }
  75% {
    left: 255px;
    transform: rotate(50deg);
  }
  100% {
    left: 285px;
    transform: rotate(60deg);
  }
  to {
    left: 305px;
    top: -500px;
    transform: rotate(60deg);
  }
}

.fuel_launching1 {
  opacity: 0;
  bottom: -45px;
  width: 80px;
  height: 140px;
  background: url(bigfire.svg) no-repeat 0 0;
  animation-name: fire_launching1;
  animation-delay: 0.5s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes fire_launching1 {
  to {
    opacity: 1;
  }
}

.small_fire {
  opacity: 0;
  text-align: center;
  position: fixed;
  z-index: 1000;
  bottom: -55px;
  width: 30px;
  height: 80px;
  left: 25px;
  background: url(smallfire.svg) no-repeat 0 0;
  animation-name: small_fire;
  animation-delay: 1s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes small_fire {
  from {
    height: 80px;
  }
  to {
    height: 120px;
    opacity: 1;
  }
}

.rocket2 {
  background: url(rocket-ship.svg) no-repeat 0 0;
  transform: rotate(180deg);
  top: -200px;
  width: 80px;
  height: 200px;
  animation-name: flyback;
  animation-delay: 8.5s;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes flyback {
  0% {
    transform: rotate(180deg);
    left: 600px;
  }
  40% {
    transform: rotate(180deg);
    left: 620px;
  }
  45% {
    transform: rotate(180deg);
    left: 600px;
  }
  50% {
    transform: rotate(180deg);
    left: 620px;
  }
  55% {
    transform: rotate(180deg);
    left: 600px;
  }
  60% {
    transform: rotate(180deg);
    left: 620px;
  }
  70% {
    transform: rotate(180deg);
    left: 640px;
  }
  75% {
    transform: rotate(180deg);
    left: 660px;
  }
  85% {
    transform: rotate(180deg);
    left: 680px;
  }
  95% {
    transform: rotate(180deg);
    left: 700px;
  }
  100% {
    left: 700px;
    top: 300px;
  }
}

.rocket3 {
  opacity: 0;
  background: url(rocket-ship.svg) no-repeat 0 0;
  transform: rotate(180deg);
  z-index: 1000;
  left: 700px;
  top: 300px;
  width: 80px;
  height: 200px;
  animation-name: arriving;
  animation-delay: 13.5s;
  animation-duration: 6.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes arriving {
  0% {
    transform: rotate(180deg);
    opacity: 1;
    left: 700px;
  }
  25% {
    transform: rotate(180deg);
    opacity: 1;
    left: 700px;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
    left: 700px;
  }
  100% {
    left: 715px;
    top: 515px;
    transform: rotate(305deg);
    opacity: 1;
  }
}

.fuel_landing1 {
  width: 80px;
  height: 140px;
  bottom: -55px;
  background: url(bigfire.svg) no-repeat 0 0;
  animation-name: fire_landing1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes fire_landing1 {
  to {
    opacity: 1;
  }
}

.fuel_landing2 {
  opacity: 1;
  width: 80px;
  height: 140px;
  bottom: -55px;
  background: url(bigfire.svg) no-repeat 0 0;
  animation-name: fire_landing2;
  animation-delay: 20s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes fire_landing2 {
  to {
    opacity: 0;
  }
}

.flag {
  margin-left: 770px;
  margin-top: -235px;
  opacity: 0;
  background: url(flag.svg) no-repeat 0 0;
  height: 150px;
  width: 70px;
  animation-name: placing_flag;
  animation-delay: 22s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes placing_flag {
  to {
    opacity: 1;
  }
}

.moon {
  width: 170px;
  height: 170px;
  margin-left: 745px;
  margin-top: 30px;
  background: url(moon.svg) no-repeat 0 0;
}
